@model EStudy.Application.ViewModels.Schedule.ScheduleCreateModel

@{
    ViewData["Title"] = "Створення";
}

<h1>Створення розкладу</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSchedule">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsReplacement" /> @Html.DisplayNameFor(model => model.IsReplacement)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleGroupId" class="control-label"></label>
                <select asp-for="ScheduleGroupId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Data.ScheduleGroups, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleAudienceId" class="control-label"></label>
                <select asp-for="ScheduleAudienceId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Data.ScheduleAudiences, "Id", "NameAudience"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleDisciplineId" class="control-label"></label>
                <select asp-for="ScheduleDisciplineId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Data.ScheduleDisciplines, "Id", "DisciplineName"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleTeacherId" class="control-label"></label>
                <select asp-for="ScheduleTeacherId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Data.ScheduleTeachers, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleLessonId" class="control-label"></label>
                <select asp-for="ScheduleLessonId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Data.ScheduleLessons, "Id", "Number"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleTypeLessonId" class="control-label"></label>
                <select asp-for="ScheduleTypeLessonId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Data.ScheduleTypeLessons, "Id", "TypeName"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleDayOfWeekId" class="control-label"></label>
                <select asp-for="ScheduleDayOfWeekId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Data.ScheduleDayOfWeeks, "Id", "Day"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleParityOfWeekId" class="control-label"></label>
                <select asp-for="ScheduleParityOfWeekId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Data.ScheduleParityOfWeeks, "Id", "Week"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateLesson" class="control-label"></label>
                <input asp-for="DateLesson" class="form-control" />
                <span asp-validation-for="DateLesson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsReplacement" class="control-label"></label>
                <input asp-for="IsReplacement" class="form-control" />
                <span asp-validation-for="IsReplacement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
