@model IEnumerable<EStudy.Application.ViewModels.Schedule.ScheduleDayOfWeek.ScheduleDayOfWeekViewModel>

@{
    ViewData["Title"] = "Дні тижнів";
    ViewBag.Count = Model.Count();
}

<h1>Список днів тижнів</h1>

<p>
    <a asp-action="CreateDayOfWeek">Додати</a>
</p>
<p>
    <span>Загальна кількість днів тижнів - @ViewBag.Count</span>
</p>
@if (Model == null || Model.Count() == 0)
{
    <p>
        <span>Упс, поки днів тижнів нема...</span>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DayEng)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastEdited)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DayEng)
                    </td>
                    <td>
                        @item.CreatedAt.ToShortDateString()
                    </td>
                    <td>
                        @Convert.ToDateTime(item.LastEdited).ToShortTimeString()
                    </td>
                    <td>
                        @Html.ActionLink("Редагувати", "EditDayOfWeek", new { Id = item.Id }) |
                        @Html.ActionLink("Видалити", "DeleteDayOfWeek", new { Id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
