@model IEnumerable<EStudy.Application.ViewModels.Schedule.ScheduleTypeLesson.ScheduleTypeLessonViewModel>

@{
    ViewData["Title"] = "Типи пар";
    ViewBag.Count = Model.Count();
}

<h1>Список типів пар</h1>

<p>
    <a asp-action="CreateTypeLesson">Додати</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeNameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortTypeNameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastEdited)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeNameEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortTypeNameEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEdited)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "EditTypeLesson", new { Id = item.Id }) |
                @Html.ActionLink("Видалити", "DeleteTypeLesson", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
