@model IEnumerable<EStudy.Application.ViewModels.Schedule.ScheduleTeacher.ScheduleTeacherViewModel>

@{
    ViewData["Title"] = "Викладачі";
    ViewBag.Count = Model.Count();
}

<h1>Список викладачів</h1>

<p>
    <a asp-action="CreateTeacher">Додати</a>
</p>
<p>
    <span>Загальна кількість викладачів - @ViewBag.Count</span>
</p>
@if (Model == null || Model.Count() == 0)
{
    <p>
        <span>Упс, поки викладачів нема...</span>
    </p>
}
else
{
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
        Видалити усіх
    </button>
    <p></p>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Підтвердження видалення</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Ви впевнені, що хочите видалити усіх викладачів?
                </div>
                <div class="modal-footer">
                    <form asp-action="DeleteAllTeachers" asp-controller="Schedule" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ні</button>
                        <button type="submit" class="btn btn-primary">Так</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameEng)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastEdited)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameEng)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastEdited)
                    </td>
                    <td>
                        @Html.ActionLink("Редагувати", "EditTeacher", new { Id = item.Id }) |
                        @Html.ActionLink("Видалити", "DeleteTeacher", new { Id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}