
@{
    ViewData["Title"] = "Панель розкладу";
}

<h1>Розклад</h1>

<p>@Html.ActionLink("Аудиторії", "Audiences")</p>
<p>@Html.ActionLink("Дні тижнів", "DayOfWeeks")</p>
<p>@Html.ActionLink("Дисципліни", "Disciplines")</p>
<p>@Html.ActionLink("Групи", "Groups")</p>
<p>@Html.ActionLink("Пари", "Lessons")</p>
<p>@Html.ActionLink("Парність тижнів", "ParityOfWeeks")</p>
<p>@Html.ActionLink("Викладачі", "Teachers")</p>
<p>@Html.ActionLink("Тип пар", "TypeLessons")</p>
<p>@Html.ActionLink("Тестові дані", "TestData")</p>