@model EStudy.Application.ViewModels.User.UserViewModel

@{
    ViewData["Title"] = $"{Model.Firstname} {Model.Lastname}";
}

<h1>Користувач з Id @Model.Id</h1>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Born)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Born)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentRecordBook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentRecordBook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentTicketSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentTicketSeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentTicketNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentTicketNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raiting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raiting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcademicStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcademicStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEdit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLastEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLastEdit)
        </dd>
    </dl>
</div>
